{% extends 'base.html.twig' %}

{% block page_title %}Shakespeare{% endblock %}

{% block page_content_before %}
<div class="well">

    {% apply markdown %}
This site is a repository of Shakespeare's works.  The data comes from Open Source Shakepeare.

So why another site?  First, I wanted to get Shakepeare in the Fountain screenplay format, so it could be used with other tools.

But I also wanted a playground for testing tools, with a database that wasn't complicated to understand, but wasn't so simple as to be trivial.
The tools that are tested here:

* Symfony 5.1: The latest version of the best PHP framework.
* AdminLTEBundle: A terrific bundle for integrating bootstrap and styling the pages and menus.
* DataTables: A slick library for easily displaying tabular data.
* API Platform:

See the bundles and versions used on this site under <a href="{{ path('survos_landing_credits') }}">Credits</a>
{% endapply %}
</div>
{% endblock %}


{% block page_content %}
    <div class="row">

        <div class="col-md-6">
            {# ... infobox widget, solid background ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'solid' : 'yellow',
                'icon'  : 'fas fa-pen-fancy',
            } %}

                {% block box_text %}Works{% endblock %}
                {% block progress_description %}
                    The plays and sonnets of Shakespeare
                {% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-6">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'aqua',
                'icon'  : 'fas fa-comments',
            } %}
                {% block box_text %}{% endblock %}
                {% block box_number %}Characters{% endblock %}
                {% block progress_description %}
                    A List of the Characters in all the plays.  Someday I'll get the avatars working for this,
                    and integrate an animation.
                {% endblock %}
            {% endembed %}
        </div>
    </div>


{% endblock %}
