//@import "~@adminkit/core/static/css/app.css";
@import "~simple-datatables/dist/style.css";
@import "~adminlte4-bs5";
@import "../../vendor/survos/base-bundle/src/Resources/assets/css/themes/adminlte";
@import "~datatables.net-bs5";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';


// @import '~daterangepicker/daterangepicker.css';
// @import '~bootstrap-select/dist/css/bootstrap-select.min.css';

// for the sidebar, doesn't belong here...
.ancestor-active {
    font-weight: bolder;
    border-left-style: dot-dash;
    border-left-color: green;
}

.character {
    font-weight: bolder;
    font-style: italic;
}
