{% extends '@SurvosBase/volt/layout.html.twig' %}

{% block logo_mini 'Bard' %}
{#
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
#}

{% block page_title 'Shakespeare' %}
{% block page_subtitle 'Works, Characters, and a bunch of cool tools' %}

{% block xxxpage_content_before %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Tech Notes{% endblock %}
        {% block box_body %}
            <div class="callout callout-info">
                {{ '%s.notes'|format(app.request.get('_route'))|trans   }}
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block footer %}
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <strong>Gitub:</strong> github.com/survos/bard
        </div>
        Data from opensourceshakepeare.org
    </footer>
{% endblock %}

{% block logo_large %} {{ 'home.title'|trans }} {% endblock %}

{% block body %}
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Start Bootstrap </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>

{% endblock %}
