{% extends 'work/base.html.twig' %}

{% block body %}


    <ul>
        {% for chapter in chapters %}
            <li>
                <a href="{{ path('chapter_show', chapter.rp) }}">
                    {{ chapter }} </a>
                ({{ chapter.paragraphs.count }} paragraphs)

            </li>
        {% endfor %}

    </ul>
{% endblock %}