{% extends 'work/base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Character</th>
            <th>Paragraphs</th>
        </tr>
        </thead>
            <tbody>
            {% for c, paraCount in characters %}
                <tr>
                    <td>
                        <a href="{{ path('character_show', {characterId: c}) }}">
                            {{ c }}
                        </a>
                    </td>
                    <td>{{ paraCount }}</td>
                </tr>
            {% endfor %}

            </tbody>

    </table>
{% endblock %}
