{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block page_title %}Works{% endblock %}

{% block page_subtitle %}
        Super-simple HTML table, created by make:crud and .DataTable() call.
{% endblock %}

{% block body %}


    {% include "work/_table.html.twig" with {works: works, apply_basic_datatable: apply_basic_datatable } only %}

    {% if is_granted('ROLE_ADMIN') %}
    <hr />
    Admin?
    <a href="{{ path('work_index', {fix: true}) }}">Fix</a>
    <a href="{{ path('work_index', {fixText: true}) }}">Fix Text</a>
    {% endif %}

{% endblock %}
